.gwtk-map-marks-widget .gwtk-task-card-text .v-btn svg {
    width: var(--v-btn-icon-size);
    height: var(--v-btn-icon-size);
}

.gwtk-map-marks-widget .gwtk-task-card-text .mark-set-row i {
    font-size: var(--v-btn-icon-size) !important;
}