.gwtk-search-by-name .gwtk-main-container .gwtk-button svg {
    width: var(--gwtk-btn-height-icon-small);
    height: var(--gwtk-btn-height-icon-small);
}

.gwtk-search-by-name-map-list .v-list-item {
    min-height: var(--list-item-min-height-dense)
}