    |--------------------------------------------------------------|
    | (c)Copyright PANORAMA Group 1991-{{ currentYear }} All Rights Reserved    |
    |                        www.gisinfo.ru                        |
    |--------------------------------------------------------------|
    |                      Техническая поддержка:                  |
    |                                                              |
    |    +7-496-519-40-83   +7-926-662-05-45   +7-909-955-33-52    |
    |                                                              |
    |--------------------------------------------------------------|
    |  Каталог      |               Содержание                     |
    |---------------+----------------------------------------------|
    | GIS           | Инсталляционный комплект программы           |
    | WebToolKit SE | "GIS WebToolKit SE" версия {{ versionNumber }}            |
    |               |                                              |
    |_______________|______________________________________________|

